*
{
	box-sizing: border-box;
}
body
{
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
}
.container
{
	width: 100%;
	height: 100%;
	display: inline-block;
}
.row
{
	width: 80%;
	padding: 20px;
	display: grid;
	margin: 0 auto;
}
.content
{
	width: 600px;
	margin: 0 auto;
}
.content h1
{
	text-align: center;
	margin: 0 auto;
}
.creategamescreen
{
	text-align: center;
}
.startGameBtn
{
	background: #333;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	border: none;
	padding: 5px 10px;
}
#gameScreen
{
	display: none;
}
#players
{
	float: left;
	width: 100%;
	margin: 0 5px;
	position: relative;
}
.players
{
	width: 290px;
	float: left;
	color: #000;
	text-align: center;
	font-size: 24px;
}
.currentplayer
{
	background: #666;
	color: #fff;
}
#winner
{
	float: left;
	width: 100%;
	position: relative;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
label
{
	width: 100%;
	font-size: 24px;
	margin: 5px 0 5px 0;
	display: inline-block;
}
.textinput
{
	padding: 5px 10px;
	font-size: 20px;
	margin: 5px 0 5px 0;
	width: 50%;
}
#error
{
	font-size: 24px;
	font-weight: bold;
	color: #f00;
}
.memes
{
	background: #88dfff;
	width: 140px;
	height: 140px;
	margin: 5px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.memes img
{
	padding: 5px;
}
#winresult
{
	z-index: 100;
	top: 15%;
	left: 10%;
	background: #999;
	width: 80%;
	color: #fff;
	padding: 50px 20px;
	display: none;
	margin: 0 auto;
	min-height: 580px;
	position: absolute;
	text-align: center;
}
.playagain
{
	background: #000;
	color: #fff;
	border: none;
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
}
@media only screen and (max-width: 450px)
{
	.row
	{
		width: 96%;
		padding: 20px 5px;
	}
	.content
	{
		width: 100%;
	}
	#players
	{
		float: none;
		margin: 0 auto;
		display: inline-block;
	}
	.players
	{
		width: 100%;
	}
	.memes
	{
		width: 90px;
		height: 90px;
	}
	.memes img
	{
		padding: 5px;
		width: 90px;
		height: 90px;
	}
}
@media only screen and (max-width: 420px)
{
	.row
	{
		width: 96%;
		padding: 20px 5px;
	}
	.content
	{
		width: 100%;
	}
	.memes
	{
		width: 88px;
		height: 88px;
	}
	.memes img
	{
		width: 75px;
		height: 75px;
	}
}
@media only screen and (max-width: 400px)
{
	.row
	{
		width: 96%;
	}
}
@media only screen and (max-width: 380px)
{
	.row
	{
		width: 96%;
		padding: 20px 2px;
	}
	.content
	{
		width: 100%;
	}
	.memes
	{
		width: 79px;
		height: 79px;
	}
	.memes img
	{
		width: 75px;
		height: 75px;
	}
}